/* Navbar.module.css */

.header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navLinks li {
  margin-right: 10px;
}

.navLinks li a {
  text-decoration: none;
  color: white;
}

.navLinks li span {
  color: white;
}

.logoutButton {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #cc4b3d;
}
