/* styles/Navbar.module.css */

.navbar {
    background-color: #333;
    color: white;
    padding: 30px 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar ul li a:hover {
    color: #c550ff; /* Change color on hover */
  }


  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .field {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .label {
    width: 100px; /* Adjust as needed */
    margin-right: 10px; /* Add spacing between label and input */
  }
  
  .input-field {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  